{% load static %}
<!doctype html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html">
    <title>User Profile </title>
    <meta name="author" content="Jake Rocheleau">
    <link rel="shortcut icon" href="http://designshack.net/favicon.ico">
    <link rel="icon" href="http://designshack.net/favicon.ico">
    <link rel="stylesheet" type="text/css" media="all" href={% static "doctor/css/account-style.css" %}>
    <script type="text/javascript" src={% static "js/jquery-1.10.2.min.js" %}></script>
    <link rel="stylesheet" href={% static "css/jquery-ui.css" %}>
    <script src={% static "js/jquery-3.1.1.js" %}></script>
    <script src={% static "js/jquery-ui.min.js" %}></script>
    <link rel="stylesheet" type="text/css" href={% static "css/font-face.css" %}/>
    <link rel="stylesheet" type="text/css" href={% static "semantic/semantic.min.css" %}/>
    <script type="text/javascript" src={% static "semantic/semantic.min.js" %}></script>
    <link rel="stylesheet" type="text/css" href={% static "doctor/css/time-table.css" %}/>
    <link rel="stylesheet" href={% static "css/jquery-ui.css" %}>
    <link rel="stylesheet" type="text/css" href={% static "patient/css/common.css" %}/>
</head>

<body>
<header style="display:table;width: 100%; ">
    <div id="user-info" style="display:table-cell;vertical-align:middle;">

    </div>
    <div id="header-logo">
        <a href="../../main_Side/Welcome_to_Salamat/"><img src='{% static "patient/img/518622_861.jpg" %}' style="height: 50px; width:50px; margin-top: 10px; margin-bottom: 10px; margin-right: -60px;"/></a>
        <span style="position: relative; right: 40px; top: 10px;">
                وبگاه سلامت
        </span>
    </div>
    <div style="clear: both"></div>
</header>
<div id="w">
    <div id="content" class="clearfix">
        <div id="userphoto"><img src="{{ doctor.picture.url }}" alt="default avatar"></div>
        <h2 style="direction:rtl;font-family: 'X Dorosht'"> دکتر {{ user.first_name }} {{ user.last_name }}  </h2>

        <nav id="profiletabs">
            <ul class="clearfix">
                <li><a href="#bio" clas>زمانبندی</a></li>
                <li><a id="toactivity" href="#activity">برنامه هفتگی</a></li>
                <li><a id="topending" href="#pending">پیام ها</a></li>
                <li><a id="to-accepted-visit" href="#accepted-visit">وضعیت ملاقات ها</a></li>
                <li><a id="to-paid-visit" href="#paid-visit">صورتحساب مالی</a></li>
                <li><a href="#complementary">اطلاعات تکمیلی</a></li>
                <li><a id="tosetting" href="#settings">تنظیمات</a></li>

            </ul>
        </nav>

        <section id="bio" style="text-align: right">
            <form class="ui form" action="add-time/" method="post">
                {% csrf_token %}
                {% for field in daily_time_talbe %}
                    <div class="field">
                        {{ field.label }}{{ field }}
                    </div>
                {% endfor %}
                {% for field in visit_time_interval_time %}
                    <div class="field">
                        {{ field.label }}{{ field }}
                    </div>
                {% endfor %}
                <input type="submit" value="اضافه کردن">
            </form>
        </section>

        <section id="activity" class="hidden">
        </section>

        <section id="pending" class="hidden">
        </section>

        <section id="accepted-visit" class="hidden">
        </section>

        <section id="paid-visit" class="hidden">
        </section>

        <section id="complementary" class="hidden">
            <form method="post" action="complete-information/">
                {% csrf_token %}
                <p class="setting">آدرس مطب<span><input name="address"
                                                        value="{{ doctor.office.address }}"><img
                        src={% static "doctor/img/edit.png" %} alt="*Edit*"></span></p>

                <p class="setting">شماره تلفن مطب<span><input name="telephone"
                                                              value="{{ doctor.office.telephone }}"><img
                        src={% static "doctor/img/edit.png" %} alt="*Edit*"></span></p>

                <p class="setting">بیمه های تحت پوشش<span><input readonly name="insurance" value="
                        {% for insur in insurances %}{{ insur.name }} ,{% endfor %}"><img
                        src={% static "doctor/img/edit.png" %} alt="*Edit*"></span></p>

                <p class="setting">بیمه اضافه کنید<span><input name="added-insurance"><img
                        src={% static "doctor/img/edit.png" %} alt="*Edit*"></span></p>

                <p class="setting">بیمه حذف کنید<span><input name="removed-insurance"><img
                        src={% static "doctor/img/edit.png" %} alt="*Edit*"></span></p>
                <button type="submit" class="ui primary button">
                    Save
                </button>
            </form>

        </section>

        <section id="settings" class="hidden" style="text-align: right">
            <p>اطلاعات خود را ویرایش نمایید:</p>
            <form method="post" action="edit-information/">
                {% csrf_token %}
                <p class="setting">نام<span><input readonly value="{{ user.first_name }}"><img
                        src={% static "doctor/img/edit.png" %} alt="*Edit*"></span></p>

                <p class="setting">نام خانوادگی<span><input readonly value="{{ user.last_name }}"><img
                        src={% static "doctor/img/edit.png" %} alt="*Edit*"></span></p>

                <p class="setting">پست الکترونیکی<span><input name="email" value="{{ user.email }}"><img
                        src={% static "doctor/img/edit.png" %} alt="*Edit*"></span></p>
                {#                <div id="edit-ajax">{% include 'doctor/edit-profile-ajax.html' %}</div>#}
                <p class="setting">تخصص<span><input name="degreeTitle" value="{{ degree.degreeTitle }}"><img
                        src={% static "doctor/img/edit.png" %} alt="*Edit*"></span></p>

                <p class="setting">دانشگاه محل تحصیل<span><input name="university" value="{{ degree.university }}"><img
                        src={% static "doctor/img/edit.png" %} alt="*Edit*"></span></p>

                <p class="setting">مدت زمان ملاقات<span><input name="visitDuration"
                                                               value="{{ doctor.visitDuration }}"><img
                        src={% static "doctor/img/edit.png" %} alt="*Edit*"></span></p>

                <button type="submit" class="ui primary button">
                    Save
                </button>
            </form>
        </section>
    </div><!-- @end #content -->
</div><!-- @end #w -->
<script type="text/javascript">
    $(function () {
        $('#profiletabs ul li a').on('click', function (e) {
            e.preventDefault();
            var newcontent = $(this).attr('href');

            $('#profiletabs ul li a').removeClass('sel');
            $(this).addClass('sel');

            $('#content section').each(function () {
                if (!$(this).hasClass('hidden')) {
                    $(this).addClass('hidden');
                }
            });

            $(newcontent).removeClass('hidden');
        });
    });
</script>
<script>
    $(document).ready(function () {
        $("#datepicker").datepicker();
    });
    $(document).ready(function () {
        $("#toactivity").click(function () {
            $.get("time-table/this", function (data, status) {
                $("#activity").html(data);
            });
        });
    });
    $(document).ready(function () {
        $("#topending").click(function () {
            $.get("show-pending/", function (data, status) {
                $("#pending").html(data);
            });
        });
    });
    $(document).ready(function () {
        $("#to-accepted-visit").click(function () {
            $.get("show-accepted-visit/", function (data, status) {
                $("#accepted-visit").html(data);
            });
        });
    });
    $(document).ready(function () {
        $("#to-paid-visit").click(function () {
            $.get("show-paid-visit/", function (data, status) {
                $("#paid-visit").html(data);
            });
        });
    });


</script>
<footer style="height: 180px;">
    <div id="footer-header" class="bottom">
        <div id="footer-logo">
            <img src='{% static "patient/img/518622_861.jpg" %}' style="position:relative; top: -10px;height: 75px; width:75px;
            right: -15px;"/>
            <span>
                وبگاه سلامت
            </span>
        </div>
        <div id="footer-programmers-url">
            <img src='{% static "patient/img/download.jpg" %}' style="position:relative; height: 75px; width:75px;
            right: 10px;">
        </div>
    </div>
    <div id="footer-links">
        <ul>
            <li><a class="btn-link">
                تماس با ما
            </a></li>
            <li>
                درباره ما
            </li>
            <li>
                همکاری
            </li>
            <li>
                چگونه از دکترمان زمان بگیریم؟
            </li>
            <li>
                اعتماد و امنیت
            </li>
        </ul>
    </div>
    <div class="clearfix"></div>
    <div id="footer-copy-right">
        تمامی حقوق مادی و معنوی این سامانه به نام شرکت مهندسین براداران قوی دل-خزعلی-رهبری محفوظ است.
    </div>
    <div id="footer-rules">
        <span>
            قوانین
        </span>
        <span>|</span>
        <span id="footer-privacy">
            حریم شخصی
        </span>

    </div>
</footer>

</body>
</html>