{% load static %}

<div class="ui cards">
    {% for visit_payment in visits_paid %}
        <div class="card">
            <div class="content">
                <div class="meta">
                    {{ visit_payment.visitTimeIntervalMap.visitTimeInterval.dailyTimeTable.date }} : تاریخ ملاقات
                </div>
                <p>
                    بیمار: {{ visit_payment.visitTimeIntervalMap.patient.user.first_name }} {{ visit_payment.visitTimeIntervalMap.patient.user.last_name }}</p>
            </div>
            <div class="description">
                <p>
                    مبلغ {{ visit_payment.cashAmount }} برای این ملاقات پرداخت شده است.
                </p>
            </div>
        </div>
    {% endfor %}
</div>