{% load static %}

<div id="time-table">
    <button style="border-radius:70%;height: 50px;width:50px;float: left;display: inline" id="previous-week-button"
            value="{{ previous_week_first_day }}"><img style="border-radius:70%"
                                                       src="{% static "doctor/img/previous.png" %}"></button>
    <table style="float: left;display: inline">
        {% for key,value in visitDic.items %}
            <tr>

                <th>{{ key.date }}</th>
                {% for timeInDay in value %}
                    {% if  timeInDay.status == True %}
                        <td style="background-color:#00AD00 " id="{{ timeInDay.id }}" class="visit-time">
                            {% else %}
                        <td id="{{ timeInDay.id }}" class="visit-time">
                    {% endif %}

                <form id="{{ timeInDay.id }}f" class="hidden-form">
                    {% csrf_token %}
                    <input type="hidden" value="{{ timeInDay.id }}" name="reserve-map">
                </form>
                <p class="boxed">
                    <button class="visit-time">{{ timeInDay.startTime }} {{ timeInDay.endTime }}</button>
                </p>
                </td>
                {% endfor %}
                </p>
            </tr>
        {% endfor %}
    </table>
    <button style="border-radius:70%;height: 50px;width:50px;float: left;display: inline" id="next-week-button"
            value="{{ next_week_first_day }}"><img style="border-radius:70%" src={% static "doctor/img/next.png" %}>
    </button>
</div>
<div class="ui modal">
    <div class="header">Header</div>
    <div class="content">
        <p class="visit-hour"></p>
        <p></p>
        <p></p>
    </div>
</div>
<div class="ui modal">
    <div class="header"><p></p></div>
    <div class="content">
        <p></p>
    </div>
</div>
{#    {{ previous_week_first_day|date:"Y-m-d" }}#}
<script>
    $(document).ready(function () {
        $('#previous-week-button').click(function () {
            $.get("/doctor/time-table/{{ doctor_user_name }}/{{ previous_week_first_day|date:"Y-b-d" }}", function (data, status) {
                var success = $(data).filter("#time-table");
                var script_field = $(data).filter("script");
                $("#time-table").replaceWith(success);
                $("script").replaceWith(script_field);
            });
        });
        $('#next-week-button').click(function () {
            $.get("/doctor/time-table/{{ doctor_user_name }}/{{ next_week_first_day|date:"Y-b-d" }}", function (data, status) {
                var success = $(data).filter("#time-table");
                var script_field = $(data).filter("script");
                $("#time-table").replaceWith(success);
                $("script").replaceWith(script_field);
            });
        });
    });
    $(document).ready(function () {
        $(".visit-time").click(function () {
            $.post("/doctor/reserve-visit-time/", $('#'.concat($(this).attr('id').concat('f'))).serialize(), function (data, status) {
            }).fail(function (jqXHR) {
                if (jqXHR.status == 805) {
                    $(".ui.modal .header p").html('خطا')
                    $('.ui.modal .content p').html('این زمان قبلا توسط شما رزرو شده است')

                }
                else if (jqXHR.status == 803) {
                    $(".ui.modal .header p").html('خطا')
                    $('.ui.modal .content p').html('این زمان در مرحله تایید دکتر می باشد')

                }
                else if (jqXHR.status == 804) {
                    $(".ui.modal .header p").html('خطا')
                    $('.ui.modal .content p').html('این زمان توسط بیمار دیگر رزرو شده است')
                }
                $('.ui.modal').modal('show');
            })
        });
    });
</script>
