{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6 lt8"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7 lt8"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8 lt8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<html lang="en" class="no-js"> <!--<![endif]-->
<head>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
    <title>Login and Registration Form with HTML5 and CSS3</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Login and Registration Form with HTML5 and CSS3"/>
    <meta name="keywords" content="html5, css3, form, switch, animation, :target, pseudo-class"/>
    <meta name="author" content="Codrops"/>
    <link rel="shortcut icon" href="../favicon.ico">
    <link rel="stylesheet" type="text/css" href={% static "doctor/css/reg-login-demo.css" %}/>
    <link rel="stylesheet" type="text/css" href={% static "doctor/css/reg-login-style.css" %}/>
    <link rel="stylesheet" type="text/css" href={% static "doctor/css/reg-login-animat.css" %}/>
    <link rel="stylesheet" type="text/css" href={% static "patient/css/common.css" %}/>
</head>
<body>
<header style="display:table;width: 100%; ">
    <div id="user-info" style="display:table-cell;vertical-align:middle;">

    </div>
    <div id="header-logo">
        <a href="../../main_Side/Welcome_to_Salamat/"><img src='{% static "patient/img/518622_861.jpg" %}' style="height: 50px; width:50px; margin-top: 10px; margin-bottom: 10px; margin-right: -60px;"/></a>
        <span style="position: relative; right: 40px; top: 10px;">
                وبگاه سلامت
        </span>
    </div>
    <div style="clear: both"></div>
</header>

<div class="container" style="margin-top: 10px;">
    <section>
        <div id="container_demo">
            <a class="hiddenanchor" id="toregister"></a>
            <a class="hiddenanchor" id="tologin"></a>
            <div id="wrapper">
                <div id="login" class="animate form">
                    <form action="../login/" method="post" autocomplete="on">
                        {% csrf_token %}
                        <h1>ورود به سامانه</h1>
                        <p>
                            <label for="username" class="uname"> نام کاربری </label>
                            <input id="username" name="username" required="required" type="text"/>
                        </p>
                        <p>
                            <label for="password" class="youpasswd"> رمز عبور </label>
                            <input id="password" name="password" required="required" type="password"/>
                        </p>
                        <p class="login button">
                            <input type="submit" value="ورود"/>
                        </p>
                        <p class="change_link">
                            تمایل به ثبت نام دارید؟
                            <a href="#toregister" class="to_register">به ما پپیوندید</a>
                        </p>
                    </form>
                </div>
                <div id="register" class="animate form">
                    <form method="post" action="" enctype="multipart/form-data">
                        <h1>ثبت نام در سامانه</h1>
                        {% csrf_token %}
                        {{ user_form.as_p }}
                        {{ patient_form.as_p }}
                        <p class="signin button">
                            <input type="submit" value="ثبت نام"/>
                        </p>
                        <p class="change_link">
                            قبلا ثبت نام کرده اید؟
                            <a href="#tologin" class="to_register">ورود به سامانه</a>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>


<footer style="height: 180px;">
    <div id="footer-header" class="bottom">
        <div id="footer-logo">
            <img src='{% static "patient/img/518622_861.jpg" %}' style="position:relative; top: -10px;height: 75px; width:75px;
            right: -15px;"/>
            <span>
                وبگاه سلامت
            </span>
        </div>
        <div id="footer-programmers-url">
            <img src='{% static "patient/img/download.jpg" %}' style="position:relative; height: 75px; width:75px;
            right: 10px;">
        </div>
    </div>
    <div id="footer-links">
        <ul>
            <li><a class="btn-link">
                تماس با ما
            </a></li>
            <li>
                درباره ما
            </li>
            <li>
                همکاری
            </li>
            <li>
                چگونه از دکترمان زمان بگیریم؟
            </li>
            <li>
                اعتماد و امنیت
            </li>
        </ul>
    </div>
    <div class="clearfix"></div>
    <div id="footer-copy-right">
        تمامی حقوق مادی و معنوی این سامانه به نام شرکت مهندسین براداران قوی دل-خزعلی-رهبری محفوظ است.
    </div>
    <div id="footer-rules">
        <span>
            قوانین
        </span>
        <span>|</span>
        <span id="footer-privacy">
            حریم شخصی
        </span>

    </div>
</footer>

</body>
</html>