{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6 lt8"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7 lt8"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8 lt8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
    <head>
        <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
        <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">  -->
        <title>Login and Registration Form with HTML5 and CSS3</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <meta name="description" content="Login and Registration Form with HTML5 and CSS3" />
        <meta name="keywords" content="html5, css3, form, switch, animation, :target, pseudo-class" />
        <meta name="author" content="Codrops" />
        <link rel="shortcut icon" href="../favicon.ico"> 
       <link rel="stylesheet" type="text/css" href={% static "doctor/css/reg-login-demo.css" %} />
        <link rel="stylesheet" type="text/css" href={% static "doctor/css/reg-login-style.css" %} />
		<link rel="stylesheet" type="text/css" href={% static "doctor/css/reg-login-animat.css" %} />
    </head>
    <body>
        <div class="container">
            <section>				
                <div id="container_demo" >
                    <!-- hidden anchor to stop jump http://www.css3create.com/Astuce-Empecher-le-scroll-avec-l-utilisation-de-target#wrap4  -->
                    <a class="hiddenanchor" id="toregister"></a>
                    <a class="hiddenanchor" id="tologin"></a>
                    <div id="wrapper">
                        <div id="login" class="animate form">
                            <form  action="../login/"  method="post" autocomplete="on">
                                {% csrf_token %}
                                <h1>ورود به سامانه</h1>
                                <p> 
                                    <label for="username" class="uname" > نام کاربری </label>
                                    <input id="username" name="username" required="required" type="text"/>
                                </p>
                                <p> 
                                    <label for="password" class="youpasswd"> رمز عبور </label>
                                    <input id="password" name="password" required="required" type="password"  />
                                </p>
                                <p class="login button"> 
                                    <input type="submit" value="ورود" />
								</p>
                                <p class="change_link">
									تمایل به ثبت نام دارید؟
									<a href="#toregister" class="to_register">به ما پپیوندید</a>
								</p>
                            </form>
                        </div>
                        {% if registered %}
                        <a href="#">return to home page</a>
                        {% else %}
                            <div id="register" class="animate form">
                                <form method="post" action="">
                                    <h1>ثبت نام در سامانه</h1>
                                    {% csrf_token %}
                                    {{ user_form.as_p }}
                                    {{ patient_form.as_p }}
                                    <p class="signin button">
									    <input type="submit" value="ثبت نام"/>
								    </p>
                                     <p class="change_link">
    									قبلا ثبت نام کرده اید؟
	    								<a href="#tologin" class="to_register">ورود به سامانه</a>
    								</p>
                                </form>
                            </div>
                        {% endif %}
{#                        <div id="register" class="animate form">#}
{#                            <form  action="register" method="post" autocomplete="on">#}
{#                                {% csrf_token %}#}
{#                                <h1>ثبت نام در سامانه</h1>#}
{#                                <p>#}
{#                                    <label for="usernamesignup" >نام کاربری</label>#}
{#                                    <input id="usernamesignup" name="usernamesignup" required="required" type="text" placeholder="mysuperusername690" />#}
{#                                </p>#}
{#                                <p>#}
{#                                    <label for="emailsignup"  > پست الکترونیکی </label>#}
{#                                    <input id="emailsignup" name="emailsignup" required="required" type="email" placeholder="mysupermail@mail.com"/>#}
{#                                </p>#}
{#                                  <p>#}
{#                                    <label for="madrak"  > مدرک تحصیلی </label>#}
{#                                    <input id="madrak" name="madrak" required="required" type="text" placeholder="فوق تخصص حلق و بینی"/>#}
{#                                </p>#}
{#                                <p>#}
{#                                    <label for="university" class="youuni"  > دانشگاه محل تحصیل </label>#}
{#                                    <input id="university" name="university" required="required" type="text" placeholder="شهید بهشتی تهران"/>#}
{#                                </p>#}
{#                                <p>#}
{#                                    <label for="date" class="youdate"  > تاریخ اخذ مدرک </label>#}
{#                                    <input id="date" name="date" required="required" type="text" placeholder="۱۳۷۸"/>#}
{#                                </p>#}
{#                                <p>#}
{#                                    <label for="passwordsignup" class="youpasswd" > رمز عبور </label>#}
{#                                    <input id="passwordsignup" name="passwordsignup" required="required" type="password" placeholder="نمونه : salamat21"/>#}
{#                                </p>#}
{#                                <p>#}
{#                                    <label for="passwordsignup_confirm" class="youpasswd" >تکرار رمز عبور </label>#}
{#                                    <input id="passwordsignup_confirm" name="passwordsignup_confirm" required="required" type="password" placeholder="نمونه : salamat21 "/>#}
{#                                </p>#}
{#                                <p class="signin button">#}
{#									<input type="submit" value="ثبت نام"/>#}
{#								</p>#}
{#                                <p class="change_link">#}
{#									قبلا ثبت نام کرده اید؟#}
{#									<a href="#tologin" class="to_register">ورود به سامانه</a>#}
{#								</p>#}
{#                            </form>#}
{#                        </div>#}

                    </div>
                </div>  
            </section>
        </div>
    </body>
</html>